* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar img {
    width: 40px;
    height: 40px;
}

.menu img {
    width: 80px;
    height: 80px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: -90px;
    margin-top: 20px;
}

.menuLink {
    align-items: center;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.menuLink a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 60px;
    color: black
}

a:visited {
    color: inherit;
}

a:hover {
    color: #fc9483;
}

.info {
    width: 49.5%;
    position: absolute;
    margin-left: 50%;
    margin-top: 60px;
}

.fotos {
    width: 49.5%;
}

.fotos img {
    max-width: 600px;
    max-height: 650px;
    margin-left: 30px;
    margin-top: 40px;
}

ul {
    list-style: none;
    font-size: 40px;
}

.alex {
    width: 100%;
}

.pretinha {
    width: 100%;
    margin-top: 150px;
}

.cinza {
    width: 100%;
    margin-top: 400px;
}

.marri {
    width: 100%;
    margin-top: 400px;
}